html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

.heading {
  color: #003B49;
  margin-top: 25px;
}

.logo {
  margin-right: 25px;
  background-color: #509E2F;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #003B49;
  font-size: 12px;
  background-image: url('../img/hex_grid.png');
  background-size: 2rem;
  background-position: center;
}

.full-width-image {
  background: url('../img/toomey.jpg') no-repeat center 100%;
  background-size: 100%;
  text-align: center;
  padding: 75px 0;
  height:550px;
}
.full-width-image-xs {
  background: url('../img/toomey.jpg') no-repeat center 100%;
  background-size: 100%;
  text-align: center;
  padding: 75px 0;
}

.media-left, .media > .pull-left {
  padding-right: 4px;
}

@media (max-width: 1200px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
                margin-top: 7.5px;
        }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
        display:block !important;
        }
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    .col-xs-12 {
        float: none;
    }

    .break-before {
        page-break-before: always;
    }

    .break-after {
        page-break-after: always;
    }

    .page-header, .title, h1, body {
        margin: 0;
    }

    a[href]:after {
        content: none !important;
    }
}

#toc-container {
    margin: 5px;
    width: 40%;
    #toc-title {
        text-align: center;
        margin-bottom: 20px;
        span {
            font-weight: bold;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.27);
        }
    }
    .toc-outermost {
        padding: 0 10px 0 10px;
    }
    ul {
        list-style-type: none;
    }
}

@media (max-width: 750px) {
    #toc-container {
        width: 100%;
    }
}

/* sidebar */

.fixed {
    position: fixed;
}

.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav > li > a {
    color: #005F83;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
    color: #005F83;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #005F83;
}
/* all active links */
.bs-docs-sidebar .nav > .active>a,
.bs-docs-sidebar .nav > .active:hover>  a,
.bs-docs-sidebar .nav > .active:focus > a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav > .active>a,
.bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active:focus > a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;
}
