---
layout: page
title: People
---
{% assign director = site.data.faculty | where: 'role', 'Director' %}
{% assign faculty = site.data.faculty | where: 'role', 'Investigator' | sort: 'lastname' %}
{% assign postdocs = site.data.postdocs | sort: 'lastname' %}
{% assign phd-students = site.data.students | where: 'status', 'Current' | where: 'degree', 'PhD' | sort: 'lastname' %}
{% assign ms-students = site.data.students | where: 'status', 'Current' | where: 'degree', 'MS' | sort: 'lastname' %}
{% assign bs-students = site.data.students | where: 'status', 'Current' | where: 'degree', 'BS' | sort: 'lastname' %}
{% assign alumni = site.data.students | where: 'status', 'Alumni' | sort: 'lastname' %}
{% assign staff = site.data.staff | sort: 'lastname' %}

<div class="row">
  <nav class="col-md-3 bs-docs-sidebar hidden-sm hidden-xs no-print">
    <ul id="sidebar" class="nav nav-stacked fixed">
      {% if faculty.size > 0 or director.size > 0 %}
        <li><a href="#faculty">Affiliated Faculty</a></li>
      {% endif %}
      {% if postdocs.size > 0 %}
        <li><a href="#postdocs">Postdoctoral Fellows</a></li>
      {% endif %}
      {% if phd-students.size > 0 %}
        <li><a href="#phd-students">PhD Students</a></li>
      {% endif %}
      {% if ms-students.size > 0 %}
        <li><a href="#ms-students">MS Students</a></li>
      {% endif %}
      {% if bs-students.size > 0 %}
        <li><a href="#bs-students">BS Students</a></li>
      {% endif %}
      <!--
      <li><a href="#alumni">Alumni</a></li>
      -->
      {% if staff.size > 0 %}
        <li><a href="#staff">Staff</a></li>
      {% endif %}
    </ul>
  </nav>
  <div class="col-sm-9">
    {% if faculty.size > 0 or director.size > 0 %}
      <h4 id="faculty">Affiliated Faculty</h4>
      <ul class="list-group">
        {% for person in director %}
          {% include member.html %}
        {% endfor %}
        {% for person in faculty %}
          {% include member.html %}
        {% endfor %}
      </ul>
    {% endif %}
    {% if postdocs.size > 0 %}
      <br/>
      <h4 id="postdocs">Postdoctoral Fellows</h4>
      <ul class="list-group">
        {% for person in postdocs %}
          {% include member.html %}
        {% endfor %}
      </ul>
    {% endif %}
    {% if phd-students.size > 0 %}
      <br/>
      <h4 id="phd-students">PhD Students</h4>
      <ul class="list-group">
        {% for person in phd-students %}
          {% include member.html %}
        {% endfor %}
      </ul>
    {% endif %}
    {% if ms-students.size > 0 %}
      <br/>
      <h4 id="ms-students">MS Students</h4>
      <ul class="list-group">
        {% for person in ms-students %}
          {% include member.html %}
        {% endfor %}
      </ul>
    {% endif %}
    {% if bs-students.size > 0 %}
      <br/>
      <h4 id="bs-students">BS Students</h4>
      <ul class="list-group">
        {% for person in bs-students %}
          {% include member.html %}
        {% endfor %}
      </ul>
    {% endif %}
    <!--
    <br/>
    <h4 id="alumni">Alumni</h4>
    <ul class="list-group">
      {% for person in alumni %}
        {% include member.html %}
      {% endfor %}
    </ul>
    -->
    {% if staff.size > 0 %}
      <br/>
      <h4 id="staff">Staff</h4>
      <ul class="list-group">
        {% for person in staff %}
          {% include member.html %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
