---
layout: page
title: Research Projects
---
{% assign projects = site.data.projects %}
{% assign activeProjects = projects | where: 'status', 'Active' %}
{% assign pastProjects = projects | where: 'status', 'Complete' %}

<div class="row">
  <nav class="col-md-3 bs-docs-sidebar hidden-sm hidden-xs no-print">
    <ul id="sidebar" class="nav nav-stacked fixed">
      {% for proj in activeProjects %}
        <li class="col-md-8 col-lg-10">
          <a href="{{ proj.shortname | slugify | prepend: '#' }}">
            {{ proj.shortname }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="col-md-9">
    {% if activeProjects.size > 0 %}
      <div class="list-group">
        {% for proj in activeProjects %}
          {% include project.html %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
