---
layout: page
title: Research Projects
---
{% assign projects = site.data.projects %}
{% assign activeProjects = projects | where: 'status', 'Active' %}
{% assign pastProjects = projects | where: 'status', 'Complete' %}

<div class="row">
  <nav class="col-sm-3 bs-docs-sidebar hidden-xs no-print">
    <ul id="sidebar" class="nav nav-stacked fixed">
      {% for proj in activeProjects %}
        <li class="col-sm-6 col-md-8 col-lg-10">
          <a href="{{ proj.shortname | slugify | prepend: '#' }}">
            {{ proj.shortname }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="col-sm-9">
    {% if activeProjects.size > 0 %}
  	  <!--
      <h4 id="projects">Active Projects</h4>
      -->
      <div class="list-group">
        {% for proj in activeProjects %}
          {% include project.html %}
        {% endfor %}
      </div>
    {% endif %}

    <!--
    {% if pastProjects.size > 0 %}
      <h4>Past Projects</h4>
      <div class="list-group">
        {% for proj in pastProjects %}
          {% include project.html %}
        {% endfor %}
      </div>
      <hr>
    {% endif %}
    -->
  </div>
</div>
