---
layout: page
title: Research Projects
---
{% assign projects = site.data.projects %}

{% assign activeProjects = projects | where: 'status', 'Active' %}
{% assign pastProjects = projects | where: 'status', 'Complete' %}

<div class="row">
  <div class="col-sm-12">
    {% if activeProjects.size > 1 %}
  	  <h4 id="projects">Active Projects</h4>
      <div class="list-group">
        {% for proj in activeProjects %}
          {% include project.html %}
        {% endfor %}
      </div>
    {% endif %}

    {% if pastProjects.size > 1 %}
      <h4>Past Projects</h4>
      <div class="list-group">
        {% for proj in pastProjects %}
          {% include project.html %}
        {% endfor %}
      </div>
      <hr>
    {% endif %}
  </div>
</div>
