<div class="list-group-item">
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        {% if fac.link %}
          {% if fac.manufacturer %}
            <a href="{{ fac.link }}" target="_blank">{{ fac.manufacturer }} - {{ fac.name }}</a>
          {% else %}
            <a href="{{ fac.link }}" target="_blank">{{ fac.name }}</a>
          {% endif %}
        {% else %}
          {% if fac.manufacturer %}
            {{ fac.manufacturer }} - {{ fac.name }}
          {% else %}
            {{ fac.name }}
          {% endif %}
        {% endif %}
      </h4>
      <div class="row">
        {% if fac.photo %}
          <div class="col-sm-4">
            <img class="media-object" style="margin-top: 10px" width="90%"
                 src="{{ site.baseurl }}/img/facilities/{{ fac.photo }}" alt="No Photo">
            </img>
          </div>
        {% endif %}
        <div class="col-sm-7 col-sm-offset-1">
          {% if fac.specifications or fac.desc %}
            <h5>Capabilities &amp; Specifications</h5>
            <ul>
              {% if fac.desc %}
                <li>{{ fac.desc }}</li>
              {% endif %}
              {% if fac.specifications %}
                {% for spec in fac.specifications %}
                  <li>{{ spec.name }}</li>
                {% endfor %}
              {% endif %}
            </ul>
            <br/>
          {% endif %}
          {% if fac.sample-parts %}
            <h5>Sample Parts</h5>
            <ul class="list-inline">
            {% for part in fac.sample-parts %}
              <li>
                <img class="media-object" height="180px"
                    src="{{ site.baseurl }}/img/facilities/{{ part.photo }}" alt="No Photo">
                </img>
              </li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
