<div class="list-group-item">
  <h5>{{ proj.name }}</h5>
  <div class="row">
    {% if proj.members %}
      <div class="col-sm-6">
        <h6>Participant(s)</h6>
        <ul>
          {% for member in proj.members %}
            <li>{{ member.name }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if proj.sponsors %}
      <div class="col-sm-6">
        <h6>Sponsor(s)</h6>
        <ul>
          {% for sponsor in proj.sponsors %}
            <li>{{ sponsor.name }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  {% if proj.photo %}
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <img class="media-object" width="100%"
             src="{{ site.baseurl }}/img/projects/{{ proj.photo }}" alt="No Photo">
        </img>
        <br/>
      </div>
    </div>
  {% endif %}
  <p class="text-justify">{{ proj.desc }}</p>
</div>
