<div class="list-group-item">
  <h4 id="{{ proj.shortname | replace: ' ', '-' }}" style="margin-bottom: 30px;">
    <strong>{{ proj.name }}</strong>
  </h4>
  <div class="row">
    <div class="col-sm-12">
      {% if proj.participants %}
        <p>
          <strong>Participant(s): </strong>
          {% for participant in proj.participants %}
            {{ participant.name }}{% if forloop.last == false %}, {% endif %}
          {% endfor %}
        </p>
      {% endif %}
      {% if proj.sponsors %}
        <p>
          <strong>Sponsor(s): </strong>
          {% for sponsor in proj.sponsors %}
            {{ sponsor.name }}{% if forloop.last == false %}, {% endif %}
          {% endfor %}
        </p>
      {% endif %}
    </div>
  </div>
  {% if proj.photo %}
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <img class="media-object" width="100%"
             src="{{ site.baseurl }}/img/projects/{{ proj.photo }}" alt="No Photo">
        </img>
        <br/>
      </div>
    </div>
  {% endif %}
  {% if proj.desc %}
    <p class="text-justify">{{ proj.desc }}</p>
  {% endif %}
  <strong>Publications:</strong>
  {% bibliography --query @*[project={{ proj.shortname }}] %}
</div>
