<div class="list-group-item pub">
  <div class="media">
    {% if pub.badge  %}
    <div class="media-left pull-right">
      {% if pub.badge-link %}
        <a href="{{ pub.badge-link }}" target="_blank">
          <img src="{{ site.baseurl }}/img/{{ pub.badge }}" height="90" />
        </a>
      {% endif %}
    </div>
    {% endif %}
    <div class="media-body">
      <h6 id="title" class="media-heading">{{ pub.citation }}</h6>
      <strong>Status:</strong>
      {% if pub.status == "Published" %}
        {% if pub.fulltext %}
          <a class="" href="{{ pub.fulltext }}" target="_blank">{{ pub.status }}</a>
        {% else %}
          {{ pub.status }}
        {% endif %}
      {% else %}
        {{ pub.status }}
      {% endif %}
      <br/>
      {% if pub.awards %}
        <strong>Awards:</strong> {{ pub.awards }} <br/>
      {% endif %}
    </div>
  </div>
</div>
