<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Innovative Additive Manufacturing" />
    <meta name="keywords" content="Additive Manufacturing, Virtual Reality,
                                   CAD/CAM, Robotics, Machine Dynamics and Control,
                                   Rapid Product Realization, Missouri S&amp;T" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/icon.ico">
    <title>{{ page.title }}</title>

    <!-- Styles -->
    <link href="{{ site.baseurl }}/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/bootstrap_mst.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/styles.css" rel="stylesheet">
    <script src="{{ site.baseurl }}/js/jquery-1.12.0.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  </head>
  <body>
    {% include nav.html %}
    {{ content }}
  </body>
  <footer>
    {% include footer.html %}
  </footer>
</html>
