---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="media">
        <div class="media-object pull-left">
          <img class="hidden-xs logo" height="90px"
               src="{{ site.baseurl }}/img/sandt_logo.svg" alt="Missouri S&amp;T">
        </div>
        <div class="media-body">
          <img alt="Brand" height="70px" src="{{ site.baseurl }}/img/iam.svg">
          <br/>
          <em>Innovative Additive Manufacturing</em>
        </div>
      </div><br/>
    </div>
  </div>
</div>

<div class="full-width-image hidden-xs"></div>
<div class="full-width-image-xs visible-xs"></div>

<div class="container">
  {{ content }}
</div>
