---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="media">
        <div class="media-object pull-right">
          <img class="hidden-xs logo" height="90px"
          src="{{ site.baseurl }}/img/sandt.svg" alt="Missouri S&amp;T">
        </div>
        <div class="media-object pull-left">
          <img class="hidden-xs" height="90px"
          src="{{ site.baseurl }}/img/iam.svg" alt="IAM">
        </div>
        <h2 class="text-center"><strong>Innovative Additive Manufacturing Laboratory</strong></h2>
      </div>
    </div>
  </div>
</div>

<!--
<div class="full-width-image hidden-xs"></div>
<div class="full-width-image-xs visible-xs"></div>
-->

<div class="container">
  {{ content }}
</div>
