---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="media">
        <div class="media-object pull-right">
          <img class="hidden-xs logo" height="90px"
          src="{{ site.baseurl }}/img/sandt.svg" alt="Missouri S&amp;T">
        </div>
        <div class="media-object pull-left" style="margin-right:10px;">
          <img class="hidden-xs" height="90px"
          src="{{ site.baseurl }}/img/iam.svg" alt="IAM">
        </div>
        <div class="media-body">
          <h2 class="heading">{{ page.title }}</h2>
        </div>
      </div><br>
    </div>
  </div>
</div>
<div class="container">
  {{ content }}
</div>
<script type="text/javascript">
    $('body').scrollspy({
        target: '.bs-docs-sidebar'
    });
</script>
